<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>index</title>
    {{!-- <style>
        .container {
            background-color: yellow;
        }
    </style> --}}

</head>

<body>
    {{>navbar}}
    <div class="container">
        <p>ye mera home page hai</p>
    </div>
    <a href="/register"><button>sign up</button></a>
    <a href="/login"><button>sign in</button></a>

</body>

</html>